


<div id="container">
    <div class="parent">
        <div class="div21">1</div>
        <div class="div22">2</div>
        <div class="div23">3</div>
        <div class="div24">4</div>
        <div class="div25">5</div>
        <div class="div26">6</div>
        <div class="div27">7</div>
        <div class="div29">9</div>
        <div class="div210">10</div>
        <div class="div211">11</div>
        <div class="div212">12</div>
        <div class="div213">13</div>
        <div class="div215">15</div>
    </div>
</div>
    

<style>
.parent > div {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 10px;
}
    
.div21 {
grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
}

.div22 {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
}

.div23 {
   grid-row: span 5 / span 5;
    grid-column-start: 6;
}

.div24 {
 grid-row: span 5 / span 5;
    grid-column-start: 7;
}

.div25 {
grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.div26 {
grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 6;
}

.div27 {
 grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 6;
}

.div29 {
grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 6;
}

.div210 {
 grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 9;
}

.div211 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 9;
}

.div212 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 9;
}

.div213 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 6;
}

.div215 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 11;
}
     
        
</style>