---
import { Icon } from "astro-icon/components";
import ImageMy from "../assets/data.webp";
import BackCodeDescript from "../assets/una-taza-de-javascript.webp";

---


<div id="container">
  <div class="parent">
    <div
      transition:name="content-card-info"
      class="style-card color-section div1"
    >
      <div transition:name="hero-profile" class="avatar-container">
        <img class="bg-gif-my" src={ImageMy.src} alt="" aria-hidden="true" />
      </div>
      <div class="container-content">
        <a href="/myinfo" class="icon-external-link">
          <div class="container-boxes">
            <div class="container-boxes-flex-between">
              <p></p>
              <Icon
                class="icon-link"
                name="mdi:arrow-right-thick"
                width="25"
                height="25"
              />
            </div>
            <div class="container-box-end">
              <p
                class="color-text-general-image"
                transition:name="hero-my-name-presentation"
              >
                👋 Hola, Soy <span class="color-resalt"
                  >Uriel Cisneros Torres</span
                >
              </p>
              <p class="color-text-genera-image-description">
                Con <span
                  class="color-resalt">+5 de experiencia</span> he desarrollado software dinámico, incluyendo <span
                  class="color-resalt">e-commerce personalizable</span
                >, apps multiplataforma y páginas interactivas con gestión de
                pagos. Recientemente trabajé en módulos para un <span
                  class="color-resalt"
                  >call center internacional bajo Scrum</span
                >, colaborando con equipos multidisciplinarios. Me enfoco en el
                trabajo en equipo, aprendizaje y productividad.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div
      transition:name="time-line-transition"
      class="style-card color-section div2"
    >
      <img
        class="bg-gif"
        src={BackCodeDescript.src}
        alt=""
        aria-hidden="true"
      />
      <div class="container-content">
        <a href="/myinfo#experiencie" class="icon-external-link">
          <div class="container-boxes-around">
            <div class="container-boxes-flex-between">
              <p class="color-text-general-image">Algunos proyectos</p>
              <Icon
                class="icon-link"
                name="mdi:arrow-right-thick"
                width="25"
                height="25"
              />
            </div>
            <div class="container-box-end">
              <div class="projects-grid">
                <div class="project-item">
                  <div class="project-icon">
                    <Icon name="mdi:shopping" width="20" height="20" />
                  </div>
                  <div class="project-info">
                    <h4 class="project-title">E-commerce Personalizable</h4>
                    <p class="project-tech">
                      React · Node.js · MongoDB · ExpressJs · Stripe
                    </p>
                  </div>
                </div>

                <div class="project-item">
                  <div class="project-icon">
                    <Icon name="mdi:phone" width="20" height="20" />
                  </div>
                  <div class="project-info">
                    <h4 class="project-title">App Multiplataforma</h4>
                    <p class="project-tech">
                      React Native · NodeJs · GrapgQL · SocketIO · Stripe ·
                      PayPal
                    </p>
                  </div>
                </div>

                <div class="project-item">
                  <div class="project-icon">
                    <Icon name="mdi:headset" width="20" height="20" />
                  </div>
                  <div class="project-info">
                    <h4 class="project-title">Módulos Call Center</h4>
                    <p class="project-tech">
                      React · Sass · Scrum · Redux · Scrum
                    </p>
                  </div>
                </div>

                <div class="project-item">
                  <div class="project-icon">
                    <Icon name="mdi:web" width="20" height="20" />
                  </div>
                  <div class="project-info">
                    <h4 class="project-title">Páginas Interactivas</h4>
                    <p class="project-tech">
                      Next.js · Tailwind · Pagos · Js · Typescript · Css ·
                      Bootstrap
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="style-card div5">
      <div class="tech-logos">
        <img
          transition:name="hero-icon-react"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
          alt="React JS"
          title="React JS"
        />
        <img
          transition:name="hero-icon-nodejs"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
          alt="Node.js"
          title="Node.js"
        />
        <img
          transition:name="hero-icon-express"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
          alt="Express"
          title="Express"
        />
        <img
          transition:name="hero-icon-graphql"
          src="https://www.vectorlogo.zone/logos/graphql/graphql-icon.svg"
          alt="GraphQL"
          title="GraphQL"
        />
        <img
          transition:name="hero-icon-webpack"
          src="https://raw.githubusercontent.com/devicons/devicon/d00d0969292a6569d45b06d3f350f463a0107b0d/icons/webpack/webpack-original-wordmark.svg"
          alt="webpack"
          title="wepack"
        />
        <img
          transition:name="hero-icon-css3"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
          alt="CSS3"
          title="CSS3"
        />
        <img
          transition:name="hero-icon-sass"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg"
          alt="Sass"
          title="Sass"
        />
        <img
          transition:name="hero-icon-nextjs"
          src="https://camo.githubusercontent.com/c19794479239935607c6c2e501a2f67e495e567ef91e0a1524474d645f52f86c/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f6d2f6c6f676f732f6e6578746a732d322e737667"
          alt="Next.js"
          title="Next.js"
        />
        <img
          transition:name="hero-icon-nestjs"
          src="https://nestjs.com/logo-small-gradient.d792062c.svg"
          alt="NestJS"
          title="NestJS"
        />
        <img
          transition:name="hero-icon-csharp"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/csharp.svg"
          alt="C#"
          title="C#"
        />
        <img
          transition:name="hero-icon-tailwind"
          src="https://camo.githubusercontent.com/52643e404ca1a1d90beb0095ebddda4b16b8c30dfcfeb5d42355a2df037c7c8e/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f7461696c77696e646373732f7461696c77696e646373732d69636f6e2e737667"
          alt="Tailwind CSS"
          title="Tailwind CSS"
        />
        <img
          transition:name="hero-icon-typescript"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
          alt="TypeScript"
          title="TypeScript"
        />
        <img
          transition:name="hero-icon-mongodb"
          src="https://aldodev.netlify.app/icons/mongodb.svg"
          alt="MongoDB"
          title="MongoDB"
        />
        <img
          transition:name="hero-icon-javascript"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
          alt="JavaScript"
          title="JavaScript"
        />
        <img
          transition:name="hero-icon-html5"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
          alt="HTML5"
          title="HTML5"
        />

        <img
          transition:name="hero-icon-github-console"
          src="https://camo.githubusercontent.com/ff5301ef7472dbdf522b776167a8af8c326299fe8175e53f6b052bbcc04533e3/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f6769742d73636d2f6769742d73636d2d69636f6e2e737667"
          alt="GitHub"
          title="GitHub"
        />
        <img
          transition:name="hero-icon-redux"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
          alt="Redux"
          title="Redux"
        />
        <img
          transition:name="hero-icon-docker"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg"
          alt="Docker"
          title="Docker"
        />
      </div>
    </div>
    <div class="style-card color-section div6">
      <img
        class="bg-gif"
        src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTdqaGg5cjZ4a3RqazVwZzgzdzQxeWtmdjRlZWQ5a25mbXYyN3A3MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26tn33aiTi1jkl6H6/giphy.gif"
        alt=""
        aria-hidden="true"
      />
      <div class="container-content">
        <a
          href="https://github.com/UrielCisneros"
          target="_blank"
          rel="noopener"
          class="icon-external-link"
        >
          <div class="container-boxes">
            <div class="container-boxes-flex-between">
              <Icon
                transition:name="icon-github"
                class="icon-link-github"
                name="mdi:github"
                width="50"
                height="50"
              />

              <Icon name="mdi:external-link" width="20" height="20" />
            </div>
            <div class="container-box-end">
              <p class="color-text-general-image">GitHub</p>
              <p class="color-text-genera-image-description">
                Perfil de GitHub donde subo mis <span class="color-resalt"
                  >proyectos y experimentos.</span
                >
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="style-card color-section div7">
      <img
        class="bg-gif"
        src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3Iwd2U0dzUzcjQxdnE1OTR0MnF6amxraDJvdGE1M3JjMjZxbWF0OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vZu2VmycJ890tP5IdH/giphy.gif"
        alt=""
        aria-hidden="true"
      />
      <div class="container-content">
        <a
          href="https://www.npmjs.com/~urielcisnerostorres"
          target="_blank"
          rel="noopener"
          class="icon-external-link"
        >
          <div class="container-boxes">
            <div class="container-boxes-flex-between">
              <Icon
                class="icon-link icon-npm"
                name="mdi:npm"
                width="65"
                height="65"
              />
              <Icon
                class="icon-link"
                name="mdi:external-link"
                width="20"
                height="20"
              />
            </div>
            <div class="container-box-end">
              <p class="color-text-general-image">
                Proyectos <span class="color-resalt">Opensource</span>
              </p>
              <p class="color-text-genera-image-description">
                Descubre algunos de mis proyectos para la comunidad en <span
                  class="color-resalt">npm</span
                >. Aquí encontrarás:
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="style-card div9">
      <div class="container-english">
        <p class="container-english-text">Nivel de ingles</p>
        <p class="container-english-level">B1</p>
      </div>
    </div>
    <div class="style-card div10">
      <a href="https://www.linkedin.com/in/uriel-cisneros-torres-9a5a10149/" target="_blank" >
        <div class="container-boxes-flex-between">
          <p></p>
          <Icon
            class="icon-link"
            name="mdi:external-link"
            width="20"
            height="20"
          />
        </div>
        <div class="content-linkedin">
          <Icon
            transition:name="icon-linkedin"
            class="icon-link-github"
            name="mdi:linkedin"
            width="130"
            height="130"
          />
        </div>
      </a>
    </div>
  </div>
</div>

<style is:global>
  #container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .color-section {
    background: linear-gradient(
      to top,
      #000000 0%,
      rgba(72, 101, 129, 0.1) 35%
    );
  }

  .style-card {
    position: relative;
    border-radius: 10px;
    transition: transform 0.25s ease-out;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .style-card:hover {
    transform: scale(0.97);
  }
  .color-section-div1 {
    background: linear-gradient(to top, #000000 0%, #162238 35%);
  }

  .color-section-div1:hover {
    transform: scale(0.97);
  }
  /* Normaliza todas las tarjetas */
  .color-section,
  .color-section-div1 {
    position: relative;
    overflow: hidden; /* evita que el SVG se salga */
  }

  .container-english {
    text-align: center;
  }

  .container-english-text {
    font-size: 1rem;
    color: rgba(80, 255, 173, 0.8); /* blanco humo */
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.742); /* mejora el contraste */
    padding: 0.5rem;
    font-weight: bold;
  }

  .container-english-level {
    font-size: 3rem;
    color: rgba(80, 255, 173, 0.8); /* blanco humo */
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.742); /* mejora el contraste */
    margin-top: -0.5rem;
  }

  .bg-gif {
    position: absolute;
    inset: 0; /* top/right/bottom/left: 0 */
    width: 100%;
    height: 100%;
    object-fit: cover; /* mismo efecto que background-size: cover */
    object-position: center;
    filter: brightness(0.4);
    z-index: 0; /* detrás del texto */
    pointer-events: none; /* evita clics sobre la imagen */
    mask-image: linear-gradient(to top, transparent 0%, black 35%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 35%);
  }

  .avatar-container {
    position: absolute; /* saca el avatar del flujo normal */
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-51%, -80%);
    border-radius: 50%;
    overflow: hidden;
    z-index: 0; /* queda detrás del texto */
    pointer-events: none;
    border: 5px double rgba(80, 255, 173, 0.8); /* borde sutil */
  }

  .bg-gif-my {
    position: absolute;
    inset: 0; /* top/right/bottom/left: 0 */
    width: 100%;
    height: 100%;
    object-fit: cover; /* mismo efecto que background-size: cover */
    object-position: center;
    filter: brightness(0.6);
    z-index: 0;
    pointer-events: none; /* evita clics sobre la imagen */
    border-radius: 10px;
    mask-image: linear-gradient(to top, transparent 0%, black 10%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 10%);
  }

  .color-text-general-image {
    color: #f2f3f5; /* blanco humo */
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.742); /* mejora el contraste */
    padding: 0.5rem;
  }

  .color-text-genera-image-description {
    color: #bdc0c6; /* blanco humo */
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.673); /* mejora el contraste */
    padding: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.6; /* o cualquier valor que prefieras, por ejemplo 1.8 */
    padding-bottom: 1.5rem;
  }

  .parent {
    width: 100%; /* ← aquí defines el ancho fijo */
    max-width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    margin: 5px;
  }

  .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 7 / span 7;
    /* color: white; */
  }

  .div2 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    /* color: white; */
  }

  /* Estilos específicos para los proyectos */
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .project-item {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    border: 1px solid rgba(80, 255, 173, 0.1);
    backdrop-filter: blur(10px);
  }

  .project-item:hover {
    background: rgba(0, 0, 0, 0.5);
    border-color: rgba(80, 255, 173, 0.3);
    transform: translateY(-2px);
  }

  .project-icon {
    min-width: 35px;
    height: 35px;
    background: rgba(80, 255, 173, 0.1);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(80, 255, 173, 0.8);
  }

  .project-info {
    flex: 1;
    min-width: 0;
  }

  .project-title {
    font-size: 0.85rem;
    font-weight: 600;
    color: #f2f3f5;
    margin: 0 0 4px 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    line-height: 1.2;
  }

  .project-tech {
    font-size: 0.7rem;
    color: #bdc0c6;
    margin: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    line-height: 1.1;
  }

  .div5 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: rgba(72, 101, 129, 0.1);
  }

  .tech-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 15px; /* Espacio entre logos */
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .tech-logos img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    filter: brightness(0.9);
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 10px;
  }

  .tech-logos img:hover {
    transform: scale(1.5);
    filter: brightness(1);
  }

  .div6 {
    position: relative;
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* color: white; */
  }

  .div7 {
    position: relative;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 8;
    overflow: hidden;
  }

  .container-content {
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .container-content p {
    margin: 0;
  }
  .container-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .container-boxes-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .container-boxes-flex-between {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .container-box-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
  }

  .sub-text-div-7 {
    font-size: 0.9rem;
    text-align: left;
    margin-top: 0;
    padding: 0.5rem;
    line-height: 1.6; /* o cualquier valor que prefieras, por ejemplo 1.8 */
  }

  .icon-link-github {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(80, 255, 173, 0.8);
  }

  .icon-link {
    display: flex;
    align-items: center;
    color: rgba(80, 255, 173, 0.8);
  }

  .icon-npm {
    margin-top: -1rem;
  }

  .icon-external-link {
    color: rgba(80, 255, 173, 0.8);
  }

  .color-resalt {
    color: rgba(80, 255, 173, 0.8);
    font-weight: bold;
  }

  .div9 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 9;
    /* background-color: #1E3A8A; */
    background-color: rgba(72, 101, 129, 0.1); /* fondo linkedin */
  }

  .div10 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 8;
    background-color: rgba(72, 101, 129, 0.1); /* fondo linkedin */
  }

  .content-linkedin {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -3rem;
  }

  .linkedin-icon {
    width: 160px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    object-fit: contain;
  }

  a {
    text-decoration: none;
  }

  /* Breakpoints mejorados para mejor responsividad */

  /* Tablets en landscape y escritorios pequeños */
  @media (max-width: 1024px) {
    .parent {
      max-width: 90%;
    }

    .avatar-container {
      width: 250px;
      height: 250px;
      transform: translate(-50%, -75%);
    }

    .tech-logos img {
      width: 45px;
      height: 45px;
    }
  }

  /* NUEVO: Rango específico para 900x808 y similar */
  @media (max-width: 950px) and (min-width: 850px) {
    .parent {
      max-width: 95%;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(12, 1fr);
      gap: 8px;
    }

    .div1 {
      grid-column: span 3 / span 3; /* Reducido de 4 a 3 */
      grid-row: span 6 / span 6; /* Reducido de 8 a 6 */
    }

    .div2 {
      grid-column: span 3 / span 3; /* Reducido de 4 a 3 */
      grid-column-start: 4;
      grid-row: span 3 / span 3; /* Mantenido pequeño */
    }

    .div5 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 1;
      grid-row-start: 7;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }

    .div6 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 3;
      grid-row-start: 7;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }

    .div7 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 5;
      grid-row-start: 4;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }

    .div9 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 1;
      grid-row-start: 10;
      grid-row: span 2 / span 2; /* Mantiene proporción pequeña */
    }

    .div10 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 3;
      grid-row-start: 10;
      grid-row: span 2 / span 2; /* Mantiene proporción pequeña */
    }

    .avatar-container {
      width: 200px;
      height: 200px;
      transform: translate(-50%, -70%);
    }

    .tech-logos {
      gap: 10px;
      padding: 0.7rem;
    }

    .tech-logos img {
      width: 35px;
      height: 35px;
      padding: 6px;
    }
  }

  /* Tablets en portrait - Ajustado */
  @media (max-width: 849px) and (min-width: 769px) {
    .parent {
      max-width: 95%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(12, 1fr);
    }

    .div1 {
      grid-column: span 2 / span 2;
      grid-row: span 5 / span 5; /* Reducido para mejor proporción */
    }

    .div2 {
      grid-column: span 2 / span 2;
      grid-column-start: 3;
      grid-row: span 3 / span 3; /* Mantiene tamaño original */
    }

    .div5 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 1;
      grid-row-start: 6;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }

    .div6 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 3;
      grid-row-start: 4;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }

    .div7 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 1;
      grid-row-start: 9;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }

    .div9 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 3;
      grid-row-start: 7;
      grid-row: span 2 / span 2; /* Mantiene proporción pequeña */
    }

    .div10 {
      grid-column: span 2 / span 2; /* Mantiene tamaño pequeño */
      grid-column-start: 3;
      grid-row-start: 9;
      grid-row: span 3 / span 3; /* Mantiene proporción pequeña */
    }
  }

  /* Móviles grandes */
  @media (max-width: 768px) {
    #container {
      padding: 0 5px;
    }

    .parent {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }

    .div1 {
      grid-column: span 2 / span 2;
      grid-row: span 5 / span 5; /* Reducido para mejor proporción */
    }

    .div2,
    .div5,
    .div6,
    .div7,
    .div9,
    .div10 {
      grid-column: span 2 / span 2;
      grid-column-start: auto;
      grid-row-start: auto;
      grid-row: span 3 / span 3; /* Tamaño uniforme y más pequeño */
    }

    .div9 {
      grid-row: span 2 / span 2; /* Div9 mantiene su tamaño más pequeño */
    }

    .avatar-container {
      width: 200px;
      height: 200px;
      transform: translate(-50%, -70%);
    }

    .tech-logos {
      gap: 10px;
      padding: 0.8rem;
    }

    .tech-logos img {
      width: 35px;
      height: 35px;
      padding: 8px;
    }

    .container-english-level {
      font-size: 3.5rem;
      margin-top: -0.2rem;
    }

    .color-text-genera-image-description {
      font-size: 0.75rem;
      padding-bottom: 1rem;
    }
  }

  /* Móviles medianos */
  @media (max-width: 600px) {
    .parent {
      gap: 6px;
      margin: 3px;
    }

    .div1 {
      grid-row: span 5 / span 5; /* Más controlado en móviles medianos */
    }

    .tech-logos {
      gap: 8px;
      padding: 0.6rem;
    }

    .tech-logos img {
      width: 30px;
      height: 30px;
      padding: 6px;
    }

    .avatar-container {
      width: 180px;
      height: 180px;
    }

    .container-english-level {
      font-size: 3rem;
    }

    .color-text-general-image {
      font-size: 0.9rem;
    }

    .color-text-genera-image-description {
      font-size: 0.7rem;
      line-height: 1.4;
    }
  }

  /* Móviles pequeños */
  @media (max-width: 480px) {
    #container {
      padding: 0 2px;
    }

    .parent {
      max-width: 100%;
      grid-template-columns: 1fr;
      gap: 5px;
      margin: 2px;
      height: 1800px;
    }

    .div1,
    .div2,
    .div5,
    .div6,
    .div7,
    .div9,
    .div10 {
      grid-column: 1;
      grid-row: auto;
      min-height: 250px;
    }

    .div1 {
      min-height: 320px; /* Reducido para mejor proporción */
    }

    .div9 {
      min-height: 180px;
    }

    .avatar-container {
      width: 150px;
      height: 150px;
      transform: translate(-50%, -65%);
    }

    .tech-logos {
      gap: 6px;
      padding: 0.5rem;
    }

    .tech-logos img {
      width: 25px;
      height: 25px;
      padding: 4px;
    }

    .container-english-level {
      font-size: 2.5rem;
    }

    .content-linkedin {
      margin-top: -2rem;
    }

    .container-content {
      font-size: 1rem;
      padding: 0.3rem;
    }

    .color-text-genera-image-description {
      font-size: 0.65rem;
      padding: 0.3rem;
      padding-bottom: 0.8rem;
    }
  }

  /* Móviles muy pequeños */
  @media (max-width: 360px) {
    .div1 {
      min-height: 350px; /* Controlado en móviles muy pequeños */
    }

    .avatar-container {
      width: 120px;
      height: 120px;
    }

    .tech-logos img {
      width: 22px;
      height: 22px;
    }

    .container-english-level {
      font-size: 2rem;
    }

    .color-text-genera-image-description {
      font-size: 0.6rem;
    }
  }

  /* Responsive para proyectos */
  @media (max-width: 1024px) {
    .projects-grid {
      gap: 10px;
    }

    .project-item {
      padding: 10px;
    }

    .project-title {
      font-size: 0.8rem;
    }

    .project-tech {
      font-size: 0.65rem;
    }
  }

  @media (max-width: 950px) and (min-width: 850px) {
    .projects-grid {
      gap: 8px;
      margin-top: 0.5rem;
    }

    .project-item {
      padding: 8px;
      gap: 8px;
    }

    .project-icon {
      min-width: 30px;
      height: 30px;
    }

    .project-title {
      font-size: 0.75rem;
    }

    .project-tech {
      font-size: 0.6rem;
    }
  }

  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
      gap: 8px;
      margin-top: 0.8rem;
    }

    .project-item {
      padding: 10px;
    }

    .project-title {
      font-size: 0.8rem;
    }

    .project-tech {
      font-size: 0.65rem;
    }
  }

  @media (max-width: 480px) {

    
    .projects-grid {
      padding: 0 0.3rem;
      gap: 6px;
    }

    .project-item {
      padding: 8px;
      gap: 8px;
    }

    .project-icon {
      min-width: 28px;
      height: 28px;
    }

    .project-title {
      font-size: 0.75rem;
    }

    .project-tech {
      font-size: 0.6rem;
    }
  }
</style>
