<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Uriel Cisneros</title>
  </head>
  <body>
    <div class="background-blur"></div>

    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #0d0d0d;
  }

  .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      145deg,
      rgba(12, 12, 13, 0.9),
      /* negro ébano */ rgba(31, 31, 34, 0.8),
      /* gris antracita */ rgba(178, 34, 34, 0.05) /* rojo rubí (muy tenue) */
    );
    filter: blur(60px);
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #0d0d0d;
    font-size: 2rem;
  }
</style>
